@page
@model Customer.Pages.CheckoutModel
@{
}


<!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <div class="row">
                    <form method="post" asp-page="/Checkout">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <label asp-for="@Model.CreateOrder.Name">Name <span class="required">*</span></label>
                                        <input asp-for="@Model.CreateOrder.Name" placeholder="Enter Name"  type="text">
                                        <span class="text-danger" asp-validation-for="@Model.CreateOrder.Name"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <label asp-for="@Model.CreateOrder.Address">Address <span class="required">*</span></label>
                                <input asp-for="@Model.CreateOrder.Address" placeholder="Enter Address"  type="text">
                                <span class="text-danger" asp-validation-for="@Model.CreateOrder.Address"></span>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <label asp-for="@Model.CreateOrder.PhoneNumber">Phone number <span class="required">*</span></label>
                                        <input asp-for="@Model.CreateOrder.PhoneNumber" placeholder="Enter Phone Number"  type="text">
                                        <span class="text-danger" asp-validation-for="@Model.CreateOrder.PhoneNumber"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4 class="order__title">Your order</h4>
                            <div class="checkout__order__products">Product <span>Total</span></div>
                            <ul class="checkout__total__products">
                                @if(@Model.Cart != null)
                                {
                                    @foreach (var item in @Model.Cart)
                                    {
                                        <li> @item.Product.Name <span>$@(item.Quantity * @item.Product.cost) Đ</span></li>
                                    }
                                }
                            </ul>
                            <ul class="checkout__total__all">
                                <li>Total <span>$@Model.Cart.Sum(i => i.Product.cost * i.Quantity) Đ</span></li>
                            </ul>
                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    <!-- Checkout Section End -->