@page
@model PrivacyModel
@{
    ViewData["Title"] = "Product";
}

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form>
                                <input type="text" placeholder="Search..." asp-for="searchString">
                                <button type="submit" class="btn btn-primary"> Search </button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    @foreach(var x in Model.categories)
                                                    {
                                                        <li class="page-item @(x.Id.ToString() == Model.category ? "active" : "")">
                                                            <a asp-page="/Product" asp-route-category="@x.Id" class="page-link">@x.CategoryName</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p class="my-3"> Showing @(Model.currentPage*3-2) - 
                                        @(Model.currentPage*3 < Model.productNumber ? Model.currentPage*3 : Model.productNumber ) 
                                        of @(Model.productNumber) results</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach(var x in Model.products
                        .Skip(((int)Model.currentPage - 1) * (int)Model.pageSize)
                        .Take((int)Model.pageSize))
                        {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" data-setbg="img/product/product-3.jpg">
                                    <a class="nav-link" style="height:100%" asp-route-id="@x.Id" asp-page="/ProductDetail"></a>
                                </div>
                                <div class="product__item__text">
                                    <h6>@x.Name</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <div class="rating">
@*                                        @if (x.rating.HasValue)
                                        {
                                            for (var i = 1; i <= 5; i++)
                                            {
                                                if (i <= x.rating)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }else
                                                {
                                                    <i class="fa fa-star-o"></i>
                                                }
                                            }
                                        }else*@
                                        {
                                            <p style="color:red">New</p>
                                        }
                                    </div>
                                    <h5>@x.cost Đ</h5>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                            @for(var i = 1; i <= Model.pageCount; i++)
                            {
                                <a asp-page="/Product" asp-route-currentpage="@i" class=@(i == Model.currentPage ? "active" : "")>@i</a>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->